@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model X.PagedList.IPagedList<EnvanterApiProjesi.Models.EnvanterModel>
@using X.PagedList.Mvc.Core

<div class="container">
    <div class="col-md-12 mt-2 ">
        <a class="btn btn-primary" href="@Url.Action("DashboardAssetSNMatcher", "Dashboard")">Seri No ile Asset
            Eşleştirme</a>
    </div>
</div>


<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm" style="border: 2px solid #3498db;">
                <thead>
                    <tr>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="Asset" asp-route-sortOrder="@(ViewBag.SortColumn == "Asset" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    Asset @Html.Raw(ViewBag.SortColumn == "Asset" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="SeriNo" asp-route-sortOrder="@(ViewBag.SortColumn == "SeriNo" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    SeriNo @Html.Raw(ViewBag.SortColumn == "SeriNo" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="CompModel" asp-route-sortOrder="@(ViewBag.SortColumn == "CompModel" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    Bilgisayar Modeli @Html.Raw(ViewBag.SortColumn == "CompModel" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="CompName" asp-route-sortOrder="@(ViewBag.SortColumn == "CompName" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    Bilgisayar Adı @Html.Raw(ViewBag.SortColumn == "CompName" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="RAM" asp-route-sortOrder="@(ViewBag.SortColumn == "RAM" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    RAM @Html.Raw(ViewBag.SortColumn == "RAM" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="DiskGB" asp-route-sortOrder="@(ViewBag.SortColumn == "DiskGB" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    Disk Boyutu @Html.Raw(ViewBag.SortColumn == "DiskGB" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="MAC" asp-route-sortOrder="@(ViewBag.SortColumn == "MAC" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    MAC Adresi @Html.Raw(ViewBag.SortColumn == "MAC" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="ProcModel" asp-route-sortOrder="@(ViewBag.SortColumn == "ProcModel" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    İşlemci Modeli @Html.Raw(ViewBag.SortColumn == "ProcModel" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="Username" asp-route-sortOrder="@(ViewBag.SortColumn == "Username" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    Kullanıcı @Html.Raw(ViewBag.SortColumn == "Username" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                            <a asp-action="DashboardMain" asp-route-sortColumn="DateChanged" asp-route-sortOrder="@(ViewBag.SortColumn == "DateChanged" && ViewBag.SortOrder == "asc" ? "desc" : "asc")">
                    Değişiklik Tarihi @Html.Raw(ViewBag.SortColumn == "DateChanged" ? (ViewBag.SortOrder == "asc" ? "↑" : "↓") : "")</a>
                        </th>
                        <th style="background-color: #3498db; color:white">
                        </th>
                    </tr>
                </thead>
                    <tbody>
                         @foreach (var comp in Model)
                {
                        <tr>
                            <td>
                                @comp.Asset
                            </td>
                            <td>
                                @comp.SeriNo
                            </td>
                            <td>
                                @comp.CompModel
                            </td>
                            <td>
                                @comp.CompName
                            </td>
                            <td>
                                @comp.RAM
                            </td>
                            <td>
                                @comp.DiskGB
                            </td>
                            <td>
                                @comp.MAC
                            </td>
                            <td>
                                @comp.ProcModel
                            </td>
                            <td>
                                @comp.Username
                            </td>
                            <td>
                                @comp.DateChanged
                            </td>
                            <td>
                            <a asp-controller="Dashboard" asp-action="Details" asp-route-seriNO="@comp.SeriNo" asp-route-page="1" class="btn btn-primary">Detay</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                
            </table>
            <!-- Sayfalama Kontrolleri -->
            <div>
                @Html.PagedListPager(Model, page => Url.Action("DashboardMain", new { page }),
                new PagedListRenderOptions
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = true, // "..." koyarak fazla sayfaları gizler
                    MaximumPageNumbersToDisplay = 5, // Aynı anda gösterilecek sayfa sayısı
                    UlElementClasses = new[] { "pagination", "justify-content-center" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" }
                })

            </div>
        </div>
    </div>
</div>