@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EnvanterYonetimPaneli.Models.EnvanterViewModel
@using X.PagedList.Mvc.Core

@{
    Dictionary<string, string>? labels = LabelHelper.ModelLabels;
}

@if (Model != null)
{
    @section Navbar {
        <div class="ms-auto">
            <div class="dropdown" style="color:#0D6EFD">
                <a class="btn btn-secondary dropdown-toggle" style="background-color:white; color: #0D6EFD;" href="#"
                    role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Menü
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item" asp-controller="Dashboard" asp-action="EditPage"
                            asp-route-id="@Model.SelectedComputer?.Id">Düzenle</a>
                    </li>
                    <li>
                        <a class="dropdown-item logout-item" href="@Url.Action("Logout", "Login")">Çıkış Yap</a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center justify-content-between" style="cursor: default;">
                            <span>Koyu Mod</span>
                            <div class="form-check form-switch m-0">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }

    @if (Model.SelectedComputer != null)
    {
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.SelectedComputer.Id Id Numaralı Bilgisayar</h1>
                </div>
            </div>

            @{
                EnvanterModel? model = Model.SelectedComputer;
                Type? type = model.GetType();
                IEnumerable<KeyValuePair<string, string>>? leftLabels = labels.Take(labels.Count / 2);
                IEnumerable<KeyValuePair<string, string>>? rightLabels = labels.Skip(labels.Count / 2);
            }

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            @foreach (var item in leftLabels)
                            {
                                var prop = type.GetProperty(item.Key);
                                var value = prop != null ? prop.GetValue(model, null)?.ToString() : "";
                                var displayValue = (item.Key == "RAM" || item.Key == "DiskGB") ? value + " GB" : value;
                                <tr>
                                    <td style="font-weight: bold;">@item.Value</td>
                                    <td>@displayValue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            @foreach (KeyValuePair<string, string> item in rightLabels)
                            {
                                System.Reflection.PropertyInfo? prop = type.GetProperty(item.Key);
                                string? value = prop != null ? prop.GetValue(model, null)?.ToString() : "";
                                string? displayValue = (item.Key == "RAM" || item.Key == "DiskGB") ? value + " GB" : value;
                                <tr>
                                    <td style="font-weight: bold;">@item.Value</td>
                                    <td>@displayValue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @if (Model.SelectedDisks != null)
            {
                <h3>Disk Durumu</h3>

                @if (Model.SelectedDisks.Count > 0)
                {
                    @foreach (var disk in Model.SelectedDisks)
                    {
                        if (!disk.TotalSizeGB.HasValue || !disk.TotalFreeSpaceGB.HasValue || disk.TotalSizeGB <= 0)
                        {
                            <p style="color: red">Disk doluluk bilgisi eksik.</p>
                        }
                        else
                        {
                            double used = disk.TotalSizeGB.Value - disk.TotalFreeSpaceGB.Value;
                            int percentage = (int)Math.Round((used * 100f) / disk.TotalSizeGB.Value);

                            string bgColor = percentage >= 80 ? "red" : "#0dcaf0"; // bg-info rengi

                            <div class="row align-items-center mb-3">
                                <div class="col-md-12">
                                    <table class="table table-sm table-bordered mb-0">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;">Disk Adı</th>
                                                <th style="width: 25%;">Toplam Alan</th>
                                                <th style="width: 25%;">Boş Alan</th>
                                                <th style="width: 40%;">Doluluk</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@disk.Name</td>
                                                <td>@disk.TotalSizeGB.Value GB</td>
                                                <td>@disk.TotalFreeSpaceGB.Value GB</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar"
                                                            style="width: @percentage%; color: white; background-color: @bgColor">
                                                            @percentage%
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }

                }
                else
                {
                    <p style="color: red">Bu bilgisayara ait disk bilgisi bulunmamaktadır.</p>
                }
            }
            else
            {
                <p style="color: red">Diskler aktarılırken hatayla karşılaşıldı.</p>
            }

            <h3>Envanter Geçmişi</h3>

            @if (Model?.EnvanterList != null)
            {
                @if (Model.EnvanterList.Count > 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow-x: auto; white-space: nowrap; max-width: 100%">
                                <table class="table table-bordered" style="border: 1px solid #3498db;">
                                    <thead>
                                        <tr>
                                            @foreach (KeyValuePair<string, string> item in labels)
                                            {
                                                <th
                                                    style="background-color: #0d6efd; color: white; text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;">
                                                    @item.Value
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (EnvanterModel comp in Model.EnvanterList)
                                        {
                                            Type? _type = comp.GetType();
                                            <tr>
                                                @foreach (KeyValuePair<string, string> item in labels)
                                                {
                                                    System.Reflection.PropertyInfo? prop = _type.GetProperty(item.Key);
                                                    <td>@(prop != null ? prop.GetValue(comp) : "Bilinmiyor")</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                @Html.PagedListPager(Model.EnvanterList,
                                page => Url.Action(action: "DashboardMain", new { page }),
                                options: new PagedListRenderOptions
                                {
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                    MaximumPageNumbersToDisplay = 5,
                                    UlElementClasses = new[] { "pagination", "justify-content-center" },
                                    LiElementClasses = new[] { "page-item" },
                                    PageClasses = new[] { "page-link" }
                                })
            </div>
        </div>
    </div>
        }
                else
                {
                    <p style="color: red">Bu bilgisayara ait geçmiş kaydı bulunmamaktadır.</p>
                }
            }
            else
            {
                <p style="color: red">Geçmiş kaydı alınırken hatayla karşılaşıldı.</p>
            }
        </div>
    }
    else
    {
        TempData["alert"] = "Bu bilgisayara ait detay kaydı bulunamadı.";
        <div class="text-center">
            <a class="btn btn-primary" asp-action="DashboardMain">Ana menüye dön</a>
        </div>
    }
}
else
{
    TempData["alert"] = "Bu bilgisayara ait detay kaydı bulunamadı.";
    <div class="text-center">
        <a class="btn btn-primary" asp-action="DashboardMain">Ana menüye dön</a>
    </div>
}