@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EnvanterYonetimPaneli.Models.EnvanterViewModel

@using X.PagedList.Mvc.Core
@{
    var labels = LabelHelper.Labels;
}
@if (Model != null)
{
    @section Navbar {
        <div class="ms-auto">
            <div class="dropdown" style="color:#0D6EFD">
                <a class="btn btn-secondary dropdown-toggle" style="background-color:white; color: #0D6EFD;" href="#"
                    role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Menü
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="Edit"
                            asp-route-id="@Model.SelectedComputer?.Id">Düzenle</a></li>
                    <li><a class="dropdown-item logout-item" href="@Url.Action("Logout", "Login")">Çıkış Yap</a></li>
                    <li><a class="dropdown-item d-flex align-items-center justify-content-between" style="cursor: default;">
                            <span>Koyu Mod</span>
                            <div class="form-check form-switch m-0">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }

    <div class="container-fluid mt-2">
        @if (Model?.SelectedComputer != null)
        {

            <div class="row">
                <div class="col-md-12">
                    <h1>
                        "@Model.SelectedComputer.Id" Id Numaralı Bilgisayar
                    </h1>
                </div>
            </div>


            var model = Model.SelectedComputer;
            var type = model.GetType();
            var leftLabels = labels.Take(labels.Count / 2);
            var rightLabels = labels.Skip(labels.Count / 2);


            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            @foreach (var item in leftLabels)
                            {
                                var prop = type.GetProperty(item.Key);
                                var value = prop != null ? prop.GetValue(model, null)?.ToString() : "";
                                var displayValue = (item.Key == "RAM" || item.Key == "DiskGB") ? value + " GB" : value;
                                <tr>
                                    <td style="font-weight: bold;">@item.Value</td>
                                    <td>@displayValue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            @foreach (var item in rightLabels)
                            {
                                var prop = type.GetProperty(item.Key);
                                var value = prop != null ? prop.GetValue(model, null)?.ToString() : "";
                                var displayValue = (item.Key == "RAM" || item.Key == "DiskGB") ? value + " GB" : value;
                                <tr>
                                    <td style="font-weight: bold;">@item.Value</td>
                                    <td>@displayValue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @if (Model.SelectedDisks != null)
            {
                <h3>Disk Durumu</h3>
                @foreach (var disk in Model.SelectedDisks)
                {
                    int used = (int)(double.Parse(disk.TotalSizeGB.Split(',')[0]) - double.Parse(disk.TotalFreeSpaceGB.Split(',')[0]));
                    int percentage = (int)((used * 100.0) / double.Parse(disk.TotalSizeGB.Split(',')[0]));
                    string bgColor = "bg-info";
                    if (percentage >= 80)
                    {
                        bgColor = "red";
                    }
                    <div class="row align-items-center mb-3">
                        <div class="col-md-12">
                            <table class="table table-sm table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Disk Adı</th>
                                        <th style="width: 25%;">Toplam Alan</th>
                                        <th style="width: 25%;">Boş Alan</th>
                                        <th style="width: 40%;">Doluluk</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@disk.Name</td>
                                        <td>@disk.TotalSizeGB GB</td>
                                        <td>@disk.TotalFreeSpaceGB GB</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar"
                                                    style="width: @percentage%; color: white; background-color: @bgColor">
                                                    @percentage%
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
            else
            {
                <p style="color: red">Diskler aktarilirken hatayla karsilasildi.</p>
            }
        }
        else
        {
            <p style="color: red">Bilgisayar bilgisi alinirken hatayla karsilasildi</p>
        }

        @if (Model?.EnvanterList != null)
        {
            <h3>Envanter Geçmişi</h3>

            <div class="row">
                <div class="col-md-12">
                    <div style="overflow-x: auto; white-space: nowrap; max-width: 100%">
                        <table class="table table-bordered" style="border: 1px solid #3498db;">
                            <thead>
                                <tr>
                                    @foreach (var item in labels)
                                    {
                                        <th
                                            style="background-color: #0d6efd; color: white; text-decoration: none; text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;">
                                            @item.Value
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var comp in Model.EnvanterList)
                                {
                                    var _type = comp.GetType();
                                    <tr>
                                        @foreach (var item in labels)
                                        {
                                            var prop = _type.GetProperty(item.Key);
                                            <td>
                                                @prop.GetValue(comp)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        @Html.PagedListPager(Model.EnvanterList, page => Url.Action("Details", new { id =
                        Model.SelectedComputer.Id, page }),
                                new PagedListRenderOptions
                                {
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                    MaximumPageNumbersToDisplay = 5,
                                    UlElementClasses = new[] { "pagination", "justify-content-center" },
                                    LiElementClasses = new[] { "page-item" },
                                    PageClasses = new[] { "page-link" }
                                })
            </div>
        </div>
    </div>
        }
    else
    {
        <p style="color: red">Gecmis kaydi alinirken hatayla karsilasildi</p>
    }

</div>
}
else
{
    TempData["alert"] = "Bu bilgisayara ait detay kaydı bulunamadı.";

    <div class="text-center">
        <a class="btn btn-primary" asp-action="DashboardMain">Ana menüye dön</a>
    </div>

}