@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EnvanterModel
@{
    var labels = LabelHelper.Labels;
}
<div class="container-fluid mt-2">
    <div class="row">
        <h2 class="text-center">Düzenle</h2>

        @if (Model != null)
        {
            var model = Model;
            var type = model.GetType();
            var leftLabels = labels.Take(labels.Count / 2);
            var rightLabels = labels.Skip(labels.Count / 2);

            <form method="post" asp-controller="Dashboard" asp-action="Edit">
                <div class="row">
                    <div class="col-md-6">
                        @foreach (var item in leftLabels)
                        {
                            bool isEditable = item.Key == "Asset" || item.Key == "AssignedUser";
                            var propertyValue = Model.GetType().GetProperty(item.Key)?.GetValue(Model, null)?.ToString() ?? "";

                            <div class="mb-3 text-start">
                                <label class="mb-1 form-label" for="@item.Key" style="font-weight: bold;">@item.Value</label>
                                <input type="text" name="@item.Key" class="form-control" value="@propertyValue" @(isEditable ?
                                                                                                                                            "" : "readonly=\"readonly\"") />
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        @foreach (var item in rightLabels)
                        {
                            bool isEditable = item.Key == "Asset" || item.Key == "AssignedUser";
                            var propertyValue = Model.GetType().GetProperty(item.Key)?.GetValue(Model, null)?.ToString() ?? "";

                            <div class="mb-3 text-start">
                                <label class="mb-1 form-label" for="@item.Key" style="font-weight: bold;">@item.Value</label>
                                <input type="text" name="@item.Key" class="form-control" value="@propertyValue" @(isEditable ?
                                                                                                                                            "" : "readonly=\"readonly\"") />
                            </div>
                        }
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Kaydet</button>

            </form>

        }

    </div>
</div>